<!DOCTYPE html>
<html>
  <head>
    <title>Tweets</title>
    <%= favicon_link_tag source="http://res.cloudinary.com/doohtqbau/image/upload/v1534961427/tweet_lvsdme.png" %>


    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>


    <% if current_user %>
      <script>
        window.currentUser = <%= render("api/users/user.json.jbuilder",
  		  user: current_user).html_safe %>
      </script>

    <% end %>

  </head>

  <body>
    <%= yield %>
  </body>
</html>
